.product-tile {
  position: relative;

  .product-image {

    img {
      max-width: 148px;

      @include media-breakpoint-up('md') {
        max-width: 210px;
      }

      @include media-breakpoint-up('lg') {
        max-width: 321px;
      }
    }
  }

  .product-wishlist {
    position: absolute;
    top: 3px;
    right: 11px;
    cursor: pointer;

    @include media-breakpoint-up('lg') {
      top: 12px;
      right: 20px;

      }

    .fa-heart {
      font-size: 18px;

      @include media-breakpoint-up ('lg') {
          font-size: 24px;
          padding: 5px;
  
          &:hover {
            font-weight: bold;
          }
      }      
    }
  }
}

.product-information {
  color: $brand-main;
  margin-top: 10px;

  .product-title {
    font-weight: 700;
    line-height: 21px;

    @include media-breakpoint-up ('lg') {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }

  .product-price {
    font-size: 15px;

    @include media-breakpoint-up ('lg') {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}
